{% extends "base.html" %}
{% block content %}
<h1 style="text-align: center; font-weight: bolder;"> Crear nueva compañia </h1>

<div class = "form-container">

    <form method="post" action="/crear-cia" enctype="multipart/form-data">
        <!-- LOGO - CDESCRIPCION - NOMBRE_CIA - COLEGIO_PROC FASE_ALCANZADA-->
        <!-- agregar inputs para crear nueva cia.-->
        
        <br>
        LINK LOGO:
        <input type="text" name="LOGO" id="LOGO">
        <br>
        DESCRIPCION:
        <input type="text" name="CDESCRIPCION" id="CDESCRIPCION">
        <br>
        NOMBRE DE COMPAÑIA:
        <input type="text" name="NOMBRE_CIA" id="NOMBRE_CIA">
        <br>
        COLEGIO DE PROCEDENCIA (Insertar ID):
        <input type="text" name="COLEGIO_PROC" id="COLEGIO_PROC">
        <br>
        FASE ALCANZADA:
        <input type="text" name="FASE_ALCANZADA" id="FASE_ALCANZADA">
        <br>
        
        <input type="submit" value="Enviar">
    </form>

</div>
{% endblock %}