{% extends "base.html" %}
{% block content %}

<h1 style="text-align: center; font-weight: bolder;"> MANTENIMIENTO DE COMPAÑIA</h1>

<div class = "form-container">

    <table class="table table-light">
        <thead class="thead-light">
            <tr>
                <th>COD</th>
                <th>LINK LOGO</th>
                <!--<th>DESCRIPCION</th>-->
                <th>NOMBRE COMPAÑIA</th>
                <th>COLEGIO </th>
                <th>FASE ALCANZADA</th>
                <!--<th>LINK RED SOCIAL</th>-->
                <th>RED SOCIAL</th>
                <th>PUNTUACION</th>
                <th>FASE</th>
            </tr>
        </thead>
        <tbody>
            {% for compania in tabla %}
            <!-- C.COD_CIA, C.LOGO, C.CDESCRIPCION, C.NOMBRE_CIA, C.COLEGIO_PROC, 
                C.FASE_ALCANZADA, RS.LINK, RS.RSNOMBRE AS NOMBRE_RED_SOCIAL, P.PUNT_ACUM, P.COD_FASE  -->
            <tr>
                <td>{{compania[0]}}</td>
                <td>{{compania[1]}}</td>
                <!--<td>{{compania[2]}}</td>-->
                <td>{{compania[3]}}</td>
                <td>{{compania[4]}}</td>
                <td>{{compania[5]}}</td>
                <!--<td>{{compania[6]}}</td>-->
                <td>{{compania[7]}}</td>
                <td>{{compania[8]}}</td>
                <td>{{compania[9]}}</td>
                <td> 
                    <a style="color:blue;" href = "/editar/{{compania[0]}}"> Editar </a> | 
                    <a style="color:blue;" href = "/eliminar-cia/{{compania[0]}}"> Eliminar </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

{% endblock %}