*,
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    width: 100%;
    overflow: none;
}

.centrado {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    max-width: 1100px;
    display: block;
}

.logo_header {
    width: 100%;
    max-width: 213px;
}

.main-navigation{
    background-color: #6abd58;
    padding: 10px;
    text-align: right;
}

.main-navigation ul{
    display: inline-block;
    list-style: none;
}

.main-navigation ul li{
    display: inline-block;
}

.main-navigation ul li:not(:last-child){
    margin-right: 15px;
}

.main-navigation ul li a{
    color: #fff;
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    border-bottom: 1px solid transparent;
    transition: all .3s;
    text-decoration: none;
    padding-bottom: 3px;
    letter-spacing: .2px;
}

.main-navigation ul li a:hover{
    border-bottom: 1px solid #fff;
}

.box_relative{
    position: relative;
}

.form_content{
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
}

.form_content form form{
    width: 350px;
}

.form_content form label{
    display: block;
    margin-bottom: 5px;
    font-size: 14px;
    font-weight: 600;
}

.form_content form input{
    width: 100%;
    padding: 5px;
    outline: none;
    border-radius: 3px;
    transition: all .3s;
    border: 1px solid #777;
    margin-bottom: 15px;
}

.form_content form input:focus{
    border: 1px solid #6abd58;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.form_button{
    width: 100%;
    text-align: right;
}

.form_button button{
    border: 2px solid #6abd58;
    background-color: transparent;
    color: #6abd58;
    font-weight: 600;
    padding: 5px 15px;
    border-radius: 3px;
    transition: all .3s;
}

.form_button button:hover{
    background-color: #6abd58;
    color: #fff;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
}

.text-center{
    text-align: center;
}

.text-center h1{
    text-transform: uppercase;
    margin-bottom: 25px;
}

.links_buttons a{
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #777;
    color: #fff;
}

.links_buttons a:not(:last-child){
    margin-right: 10px;
}

.links_buttons a:hover{
    background-color: #6abd58;
}

h1{
    margin: 20px 0;
}

th, td{
    padding: 0 15px;
}

.table_link{
    display: flex;
}

.table_link a{
    border-radius: 10px;
    padding: 5px 15px;
    text-decoration: none;
    background-color: #777;
    color: #fff;
    transition: all .3s;
}

.table_link a:not(:last-child){
    margin-right: 10px;
}

.table_link a:hover{
    background-color: #6abd58;
}

.paralax {
    width: 100%;
    display: block;
    height: 390px;
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    position: relative;
    background-attachment: fixed;
    margin-bottom: 3em;
}

.abajo-paralax-linea {
    width: 100%;
    height: 6px;
    background-image: url("https://jawperu.org/wp-content/themes/twentytwelve-child/images/socalo_footer.jpg");
    background-repeat: repeat-x;
    background-position: center bottom;
}

.paralax .overlay {
    position: relative;
    padding-top: 290px;
    width: 0.05%;
    height: 100%;
    min-height: 250px;
    top: 0;
    left: 0;
    overflow: hidden;
    z-index: 0;
}

.form-container {
    width: 100%;
    overflow-x: scroll;
}

.form-container::-webkit-scrollbar{
    display: none;
}

.center {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    font-size: 18px;
}

.field-labels {
    display: inline-block; 
    text-align: right;
}